// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #896af9;
  --ion-color-secondary: #ffffff;
  --ion-color-tertiary: #000000;
  --ion-color-medium: #d0d5dd;
  --ion-color-dark: #707070;
}
