/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

//font Variables
@font-face {
  font-family: Nunito-Black;
  font-style: normal;
  src: url(./assets/fonts/Nunito/Nunito-Black.ttf);
}

@font-face {
  font-family: Nunito-BlackItalic;
  font-style: italic;
  src: url(./assets/fonts/Nunito/Nunito-Italic.ttf);
}

@font-face {
  font-family: Nunito-Bold;
  font-style: bold;
  src: url(./assets/fonts/Nunito/Nunito-Bold.ttf);
}

@font-face {
  font-family: Nunito-Light;
  font-style: light;
  src: url(./assets/fonts/Nunito/Nunito-Light.ttf);
}

@font-face {
  font-family: Nunito-Medium;
  font-style: medium;
  src: url(./assets/fonts/Nunito/Nunito-Medium.ttf);
}
//Global Styling Changes
:root {
  --ion-font-family: Nunito-Black !important;
  font-family: var(--ion-font-family);
  ion-content::part(scroll)::-webkit-scrollbar {
    display: none;
  }
  ion-item {
    --highlight-color-focused: none;
    --background-hover: none;
  }
}

.ion-text-end {
  text-align: end;
}

.ion-text-start {
  text-align: start;
}
